*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(to right , #00dbc9,#ffae00);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    /* background-image: url(/ai.gif);
    background-repeat: no-repeat; */
}
.box{
    padding:20px;
    margin:20px;
    border-radius: 20px;
    box-shadow: 0 ,0, 10px,rgb(0, 0, 0,0.3);
    text-align: center;
    width: 600px;
    height: 600px;
}
.box h2{
    padding: 16px;
    border-bottom: 2px dashed;
    text-align: center; 
}
.box label{
    display:block;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 2px;
    
}
.box input{
    border-radius: 6px; 
}
#carouselExample{
    width: 200px;
}
